<div class="flex items-center">
	<div class="grow text-xl">Hours</div>
	<%= button_to clear_hours_path, method: :post, class: "hidden sm:flex items-center rounded-full bg-red-600 font-bold text-white p-2 lg:px-4 mx-4 lg:rounded", data: { controller: 'dialog', action: 'click->dialog#confirm' } do %>
		<%= heroicon 'trash' %>
		<div class="hidden lg:block ml-2">
			Clear
		</div>
	<% end %>
	<div data-controller="extend" class="relative" tabindex="0" data-action="blur->extend#close">
		<div data-action="click->extend#toggle" class="rounded-full lg:rounded p-2 lg:px-4 transition ease-out flex items-center bg-slate-200 hover:bg-slate-300">
			<div class="hidden lg:inline-block mr-2">
				Export
			</div>
			<%= heroicon 'chevron-down', options: { 'data-extend-target' => 'chevron', class: "transition ease-in-out" } %>
		</div>
		<div class="rounded-md bg-white absolute shadow-md pt-1 invisible opacity-0 -translate-y-2 transition ease-in-out z-10 w-max" data-extend-target="menu">
			<%= link_to 'Export to PDF', export_pdf_path, class:'w-full block px-5 transition ease font-semibold hover:bg-slate-200 py-2' %>
			<%= link_to 'Export to CSV', export_csv_path, class:'w-full block px-5 transition ease font-semibold hover:bg-slate-200 py-2' %>
		</div>
	</div>
	<a href="/hours/new" class="flex items-center rounded-full bg-slate-200 p-2 lg:px-4 mx-4 lg:rounded">
		<%= heroicon 'document-plus', options: { class: 'w-6 h-6 lg:mr-2 inline-block' } %>
		<div class="hidden lg:block">
			Log Hours
		</div>
	</a>
	<div data-controller="time" data-action="click->snackbar#toggle click->time#activate">
		<div class="flex items-center rounded-full bg-<%= current_user.accent_color %>-800 text-white font-bold p-2 lg:px-4 lg:rounded relative" data-time-target="clockin">
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="lg:mr-2 w-6 h-6 inline-block">
				<path stroke-linecap="round" stroke-linejoin="round" d="M12 6m0 6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
			</svg>
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 inline-block absolute">
				<path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6"/>
			</svg>
			<div class="hidden lg:block">
				Start Timer
			</div>
			<input class="hidden" type="number" data-time-target="minutes" />
		</div>
		<%= link_to new_hour_path, class: "hidden flex items-center rounded-full bg-#{current_user.accent_color}-800 text-white font-bold p-2 lg:px-4 lg:rounded relative", data: { 'time-target' => 'clockout' } do %>
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="lg:mr-2 w-6 h-6 inline-block" data-time-target="hhand">
				<path stroke-linecap="round" stroke-linejoin="round" d="M12 6m0 6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
			</svg>
			<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 inline-block absolute" data-time-target="mhand">
				<path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6"/>
			</svg>
			<div class="hidden lg:block">
				Stop Timer
			</div>
			<input class="hidden" type="number" data-time-target="minutes" />
		<% end %>
	</div>
</div>

<% @other_hours.each do |hour| %>
	<div class="flex flex-col sm:p-4 p-2 rounded-md my-4 w-full bg-slate-200 cursor-pointer shadow-md">
		<div class="flex items-center">
			<div data-controller="menu" class="hidden sm:block relative" tabindex="0" data-action="blur->menu#close">
				<div data-action="click->menu#toggle" class="rounded-full p-2 transition ease-out hover:bg-slate-300">
					<%= heroicon 'ellipsis-vertical' %>
				</div>
				<div class="rounded-md bg-white absolute shadow-md py-1 invisible opacity-0 -translate-y-2 transition ease-in-out z-10" data-menu-target="menu" data-controller="dialog">
					<%= link_to 'Edit', edit_hour_path(hour), class:'block px-5 transition ease font-semibold hover:bg-slate-200 py-2' %>
					<%= button_to 'Delete', hour, method: :delete, class:'block px-5 transition ease font-semibold hover:bg-slate-200 py-2' %>
				</div>
			</div>
			<div class="grow ml-3"><span class="text-slate-600 hidden sm:inline"><%= hour.user.fname %> <%= hour.user.lname %>: <%= hour.topic.name %> | </span><span class="ellipsis"><%= hour.short_desc %></span></div>
			<div class="mr-3 hidden sm:block"><%= (((hour.end - hour.begin)*20/1.hour).floor) / 20.0 %> hours</div>
			<%= link_to hour, class: 'rounded-full transition ease-in-out hover:bg-slate-300 p-2 block' do %>
				<%= heroicon 'arrow-long-right', options: { class: 'w-5 h-5' } %>
			<% end %>
		</div>
	</div>
<% end %>

<% if @other_hours.length != 0 %>
	<div class="text-lg">My Hours</div>
<% end %>

<% @hours.each do |hour| %>
	<div class="flex flex-col sm:p-4 p-2 rounded-md my-4 w-full bg-slate-200 cursor-pointer shadow-md">
		<div class="flex items-center">
			<div data-controller="menu" class="hidden sm:block relative" tabindex="0" data-action="blur->menu#close">
				<div data-action="click->menu#toggle" class="rounded-full p-2 transition ease-out hover:bg-slate-300">
					<%= heroicon 'ellipsis-vertical' %>
				</div>
				<div class="rounded-md bg-white absolute shadow-md py-1 invisible opacity-0 -translate-y-2 transition ease-in-out z-10" data-menu-target="menu" data-controller="dialog">
					<%= link_to 'Edit', edit_hour_path(hour), class:'block px-5 transition ease font-semibold hover:bg-slate-200 py-2' %>
					<%= button_to 'Delete', hour, method: :delete, class:'block px-5 transition ease font-semibold hover:bg-slate-200 py-2' %>
				</div>
			</div>
			<div class="grow ml-3"><span class="text-slate-600 hidden sm:inline"><%= hour.topic.name %> | </span><span class="ellipsis"><%= hour.short_desc %></span></div>
			<div class="mr-3 hidden sm:block"><%= (((hour.end - hour.begin)*20/1.hour).floor) / 20.0 %> hours</div>
			<%= link_to hour, class: 'rounded-full transition ease-in-out hover:bg-slate-300 p-2 block' do %>
				<%= heroicon 'arrow-long-right', options: { class: 'w-5 h-5' } %>
			<% end %>
		</div>
	</div>
<% end %>
