<div class="flex items-center mb-6">
  <a href="/profile" class="inline-block">
    <%= heroicon 'arrow-left', options: { class: 'inline-block w-6 h-6 p-1 mr-2 sm:w-10 sm:h-10 sm:p-2 sm:mr-4 rounded-full transition ease-in-out hover:bg-slate-200' } %>
  </a>
  <div class="text-xl">Edit Profile</div>
</div>

<h2 class="text-lg mb-2">Personal Info</h2>

<%= form_for(resource, as: resource_name, url: '/profile/personal', html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field mb-2">
    <%= f.label :email, class: 'block' %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'rounded outline-none' %>
  </div>

  <div class="field mb-2">
    <%= f.label :fname, 'First Name', class: 'block' %>
    <%= f.text_field :fname, autofocus: true, autocomplete: "given-name", class: 'rounded outline-none' %>
  </div>

  <div class="field mb-2">
    <%= f.label :lname, 'Last Name', class: 'block' %>
    <%= f.text_field :lname, autofocus: true, autocomplete: "family-name", class: 'rounded outline-none' %>
  </div>

  <div class="field mb-2">
    <%= f.label :bio, 'Bio', class: 'block' %>
    <%= f.text_area :bio, class: 'rounded outline-none' %>
  </div>

  <%= f.submit "Save", class: "py-2 px-4 bg-#{current_user.accent_color}-800 rounded text-white w-max mr-2" %>
<% end %>

<div class="max-w-sm bg-slate-400 h-[1px] my-4"></div>

<h2 class="text-lg mb-2">Password</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

	<div class="field mb-2">
    <%= f.label :current_password, 'Current Password', class: 'block' %>
    <%= f.password_field :current_password, autocomplete: "current-password", class: 'rounded outline-none' %>
	</div>

	<div class="field mb-2">
    <%= f.label :password, 'Password', class: 'block' %>
    <%= f.password_field :password, autocomplete: "password", class: 'rounded outline-none' %>
	</div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <%= f.submit "Save", class: "py-2 px-4 bg-#{current_user.accent_color}-800 rounded text-white w-max mr-2" %>
<% end %>
