<h2 class="text-xl mb-2">Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'w-full rounded outline-none' %>
  </div>

  <div class="flex mt-2">
    <div class="field mr-2">
      <%= f.label :fname, 'First Name' %><br />
      <%= f.text_field :fname, autocomplete: "given-name", class: 'w-full rounded outline-none' %>
    </div>

    <div class="field">
      <%= f.label :lname, 'Last Name' %><br />
      <%= f.text_field :lname, autocomplete: "family-name", class: 'w-full rounded outline-none' %>
    </div>
  </div>

  <div class="field mt-2">
    <%= f.label :bio %><br />
    <%= f.text_area :bio, class: 'w-full rounded outline-none' %>
  </div>

  <div class="flex mt-2">
    <div class="field mr-2">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: 'w-full rounded outline-none' %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, 'Confirm Password' %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'w-full rounded outline-none' %>
    </div>
  </div>

	<%= f.hidden_field :primary_color, :value => 'slate' %>
	<%= f.hidden_field :accent_color, :value => 'indigo' %>
	<%= f.hidden_field :scheme, :value => 'si' %>

  <%= f.submit "Sign up", class: 'block w-full p-2 mt-2 text-white text-center bg-indigo-800 rounded transition ease hover:bg-indigo-700' %>
<% end %>

<div class="mt-2"></div>

<%= render "devise/shared/links" %>
