<div class="flex items-center">
	<div class="text-xl grow">Profile</div>
	<a href="/edit" class="flex bg-<%= current_user.accent_color %>-800 rounded-full sm:rounded text-white items-center font-bold p-2 sm:px-3 sm:pr-5">
		<div class="hidden sm:inline ml-1">
			<%= heroicon 'pencil', options: { class: 'w-4' }, variant: :solid  %>
		</div>
		<div class="inline sm:hidden">
			<%= heroicon 'pencil', options: { class: 'w-4' }, variant: :mini  %>
		</div>
		<div class="hidden sm:block ml-2">Edit</div>
	</a>
</div>

<br />
<div class="flex sm:flex-row flex-col mb-4">
	<!-- This will be replaced by the profile picture -->
	<div class="w-24 h-24 bg-slate-300 rounded-md mr-2 mb-2"></div>
	<div>
		<div class="text-lg"><%= current_user.fname || '' %> <%= current_user.lname || '' %></div>
		<div class="text-md text-slate-600"><%= current_user.email %></div>
		<div class="text-slate-600">
			<%= current_user.group.title %>
		</div>
	</div>
</div>

<div class="rounded bg-slate-200 my-4 p-4 min-h-[10em] overflow-wrap">
	<p class="text-wrap"><%= current_user.bio %></p>
</div>

<% if current_user.goal_time %>
	<div class="flex">
		<div class="grow text-lg">
			<span class="text-bold">Weekly Goal: </span>
			<%= current_user.goal_time %> hours
		</div>
	</div>
<% end %>
