<div class="flex items-center">
	<div class="text-xl grow">Templates</div>
	<a href="/templates/new" class="flex bg-<%= @config['accent'] %>-800 rounded-full sm:rounded text-white items-center font-bold p-2 sm:px-3 sm:pr-5">
		<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="w-6 h-6 sm:mr-2">
			<path stroke-linecap="round" stroke-linejoin="round" d="M12 6v12m6-6H6" />
		</svg>
		<div class="hidden sm:block">New</div>
	</a>
</div>

<% @templates.each do |template| %>
	<a href="/templates/<%= template.id %>" class="flex p-4 shadow-md rounded-md my-4 w-full bg-slate-200 items-center transition-all ease-out ring-slate-200 hover:ring-2">
		<div class="grow pl-4"><%= template.title %></div>
		<div class="flex-col hidden lg:flex">
			<div class="text-sm text-right">Created <%= time_ago_in_words(template.created_at) %> ago</div>
			<div class="text-sm text-right">Updated <%= time_ago_in_words(template.updated_at) %> ago</div>
		</div>
	</a>
<% end %>

