<div class="flex items-center">
	<a href="/topics" class="inline-block">
		<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="inline-block w-6 h-6 p-1 mr-2 sm:w-10 sm:h-10 sm:p-2 sm:mr-4 rounded-full transition ease-in-out hover:bg-slate-200">
			<path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
		</svg>
	</a>
	<div class="grow text-lg sm:text-xl">
		<%= @topic.name %>
	</div>
	<%= button_to @topic, class:'hidden sm:block', method: :delete do %>
		<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="inline-block w-12 h-12 p-3 transition rounded-full ease-in-out hover:bg-slate-200">
			<path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
		</svg>
	<% end %>
	<a href="/topics/<%= @topic.id %>/edit" class="hidden sm:block">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="inline-block w-12 h-12 p-3 transition rounded-full ease-out hover:bg-slate-200">
			<path d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-12.15 12.15a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32L19.513 8.2z" />
		</svg>
	</a>
	<div data-controller="menu" class="sm:hidden" tabindex="0" data-action="blur->menu#close">
		<div data-action="click->menu#toggle" class="rounded-full sm:p-2 p-1 transition ease-out hover:bg-slate-300">
			<%= heroicon 'ellipsis-vertical', options: { class: 'sm:w-6 sm:h-6 w-5 h-5' } %>
		</div>
		<div class="rounded-md bg-white absolute shadow-md py-1 invisible opacity-0 -translate-y-2 transition ease-in-out right-6" data-menu-target="menu">
			<%= link_to 'Edit', edit_topic_path(@topic), class:'block px-5 transition ease font-semibold hover:bg-slate-200 py-2' %>
			<%= button_to 'Delete', @topic, method: :delete, class:'block px-5 transition ease font-semibold hover:bg-slate-200 py-2' %>
		</div>
	</div>
</div>
<div class="rounded bg-gray-200 my-4 p-4 min-h-[10em] overflow-wrap">
	<p class="text-wrap"><%= @topic.description %></p>
</div>
<div class="flex">
	<div class="font-bold mr-4">Hourly rate:</div>
	<div>$<%= "%0.2f" % (@topic.rate / 100.0) %></div>
</div>
