<div class="text-xl grow mb-4">Edit User</div>

<div class="px-3">
	<%= form_with model: @user, url: "/users/#{@user.id}/edit", local: true do |f| %>
		<%= render partial: 'components/input_and_label', locals: {
				f: f,
				label: 'First Name',
				field: :fname,
		} %>
		<%= render partial: 'components/input_and_label', locals: {
			f: f,
			label: 'Last Name',
			field: :lname,
		} %>
		<%= render partial: 'components/input_and_label', locals: {
			f: f,
			label: 'Email',
			field: :email,
			type: :email,
		} %>
		<%= f.label :role, 'Role', class: 'mb-1 block' %>
		<%= f.select :role, new_user_options(current_user.role), { prompt: 'Choose...' }, { class: 'rounded mb-2' } %>
		<div class="flex">
			<div class="py-2 px-4 bg-<%= current_user.accent_color %>-800 rounded text-white w-max">
				<%= f.submit "Create" %>
			</div>
			<div class="py-2 px-4 border border-<%= current_user.accent_color %>-800 rounded w-max ml-2 text-<%= current_user.accent_color %>-800">
				<% if @user.persisted? %>
					<%= link_to "Cancel", "/users/#{@user.id}" %>
				<% else %>
					<a href="/users/<%= @user.id %>">Cancel</a>
				<% end %>
			</div>
		</div>
	<% end %>
</div>
