<h2 class="text-xl mb-2">Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'w-full rounded outline-none' %>
  </div>

  <div class="actions p-2 mt-2 text-white text-center bg-indigo-800 rounded transition ease hover:bg-indigo-700">
    <%= f.submit "Reset Password" %>
  </div>
<% end %>

<div class="mt-2"></div>

<%= render "devise/shared/links" %>
