<div class="text-xl">Theme</div>
<div data-controller="theme">
	<div class="grid grid-cols-3 w-max">
		<div class="mr-3">
			<label for="ri">Red-Indigo</label>
			<input type="radio" id="ri" name="theme" data-action="change->theme#update" data-theme-target="ri">
		</div>
		<div class="mr-3">
			<label for="ro">Red-Orange</label>
			<input type="radio" id="ro" name="theme" data-action="change->theme#update" data-theme-target="ro">
		</div>
		<div class="mr-3">
			<label for="tb">Teal-Blue</label>
			<input type="radio" id="tb" name="theme" data-action="change->theme#update" data-theme-target="tb">
		</div>
		<div class="mr-3">
			<label for="ib">Indigo-Blue</label>
			<input type="radio" id="ib" name="theme" data-action="change->theme#update" data-theme-target="ib">
		</div>
		<div class="mr-3">
			<label for="bs">Blue-Slate</label>
			<input type="radio" id="bs" name="theme" data-action="change->theme#update" data-theme-target="bs">
		</div>
		<div class="mr-3">
			<label for="st">Slate-Indigo</label>
			<input type="radio" id="si" name="theme" data-action="change->theme#update" data-theme-target="si">
		</div>
		<input type="submit" data-action="click->theme#submit" />
	</div>
	
	<div class="absolute invisible">
		<%= form_with model: @config.find_by(key: 'primary'), local: true, data: { 'theme-target' => 'primaryForm' } do |f| %>
			<%= f.radio_button :value, 'red', data: { 'theme-target' => 'redPrimary' } %>
			<%= f.radio_button :value, 'orange', data: { 'theme-target' => 'orangePrimary' } %>
			<%= f.radio_button :value, 'teal', data: { 'theme-target' => 'tealPrimary' } %>
			<%= f.radio_button :value, 'blue', data: { 'theme-target' => 'bluePrimary' } %>
			<%= f.radio_button :value, 'indigo', data: { 'theme-target' => 'indigoPrimary' } %>
			<%= f.radio_button :value, 'slate', data: { 'theme-target' => 'slatePrimary' } %>
			<%= f.hidden_field :key, value: 'primary' %>
			<%= f.submit 'Submit', class: 'inline-block' %>
		<% end %>
	</div>

	<div class="absolute invisible">
		<%= form_with model: @config.find_by(key: 'accent'), local: true, data: { 'theme-target' => 'accentForm' } do |f| %>
			<%= f.radio_button :value, 'red', data: { 'theme-target' => 'redAccent' } %>
			<%= f.radio_button :value, 'orange', data: { 'theme-target' => 'orangeAccent' } %>
			<%= f.radio_button :value, 'teal', data: { 'theme-target' => 'tealAccent' } %>
			<%= f.radio_button :value, 'blue', data: { 'theme-target' => 'blueAccent' } %>
			<%= f.radio_button :value, 'indigo', data: { 'theme-target' => 'indigoAccent' } %>
			<%= f.radio_button :value, 'slate', data: { 'theme-target' => 'slateAccent' } %>
			<%= f.hidden_field :key, value: 'accent' %>
			<%= f.submit 'Submit', class: 'inline-block' %>
		<% end %>
	</div>
</div>
