<div data-controller="settings">
<div class="text-xl">Theme</div>
	<%= form_with model: current_user, url: '/settings/update', local: true do |f| %>
		<div class="grid sm:grid-cols-3 grid-cols-2 gap-2 w-max mt-2">
			<div class="mr-3">
				<%= f.radio_button :scheme, 'ri', class: 'peer hidden' %>
				<%= f.label :scheme, class: 'border inline-block w-max h-max rounded-md peer-checked:outline-blue-500 peer-checked:outline-2 outline outline-0', :value => 'ri' do %>
					<%= image_tag '/images/ri.svg', class: 'w-[100px] overflow-hidden rounded-[5px]' %>
				<% end %>
			</div>
			<div class="mr-3">
				<%= f.radio_button :scheme, 'ro', class: 'peer hidden' %>
				<%= f.label :scheme, class: 'border inline-block w-max h-max rounded-md peer-checked:outline-blue-500 peer-checked:outline-2 outline outline-0', :value => 'ro' do %>
					<%= image_tag '/images/ro.svg', class: 'w-[100px] overflow-hidden rounded-[5px]' %>
				<% end %>
			</div>
			<div class="mr-3">
				<%= f.radio_button :scheme, 'tb', class: 'peer hidden' %>
				<%= f.label :scheme, class: 'border inline-block w-max h-max rounded-md peer-checked:outline-blue-500 peer-checked:outline-2 outline outline-0', :value => 'tb' do %>
					<%= image_tag '/images/tb.svg', class: 'w-[100px] overflow-hidden rounded-[5px]' %>
				<% end %>
			</div>
			<div class="mr-3">
				<%= f.radio_button :scheme, 'ib', class: 'peer hidden' %>
				<%= f.label :scheme, class: 'border inline-block w-max h-max rounded-md peer-checked:outline-blue-500 peer-checked:outline-2 outline outline-0', :value => 'ib' do %>
					<%= image_tag '/images/ib.svg', class: 'w-[100px] overflow-hidden rounded-[5px]' %>
				<% end %>
			</div>
			<div class="mr-3">
				<%= f.radio_button :scheme, 'bt', class: 'peer hidden' %>
				<%= f.label :scheme, class: 'border inline-block w-max h-max rounded-md peer-checked:outline-blue-500 peer-checked:outline-2 outline outline-0', :value => 'bt' do %>
					<%= image_tag '/images/bt.svg', class: 'w-[100px] overflow-hidden rounded-[5px]' %>
				<% end %>
			</div>
			<div class="mr-3">
				<%= f.radio_button :scheme, 'si', class: 'peer hidden' %>
				<%= f.label :scheme, class: 'border inline-block w-max h-max rounded-md peer-checked:outline-blue-500 peer-checked:outline-2 outline outline-0', :value => 'si' do %>
					<%= image_tag '/images/si.svg', class: 'w-[100px] overflow-hidden rounded-[5px]' %>
				<% end %>
			</div>
			<%= f.submit 'Save', class: "bg-#{current_user.accent_color}-800 text-white rounded py-2 px-4 w-max inline-block" %>
		</div>
	<% end %>
</div>
