<div class="grid gc-5 w-100 all-grey border all-padding">
	<strong>Date</strong>
	<strong>Description</strong>
	<strong>Time</strong>
	<strong>Rate</strong>
	<strong>Value</strong>
	<% @topics.each do |topic| %>
		<div style="grid-column: 1 / 6; text-align: center; border: 0px solid black; border-top-width: 2px; border-bottom-width: 1px;">
			<strong><%= topic.name %></strong>
		</div>
		<% topic.hours.sort_by{ |hr| hr.begin }.each do |h| %>
			<div><%= h.begin.strftime('%m/%d/%y') %></div>
			<div><%= h.short_desc %></div>
			<div><%= "%0.2f" %((h.end - h.begin)/1.hour) %> hours</div>
			<div>$<%= "%0.2f" %(h.topic.rate/100) %></div>
			<div style="text-align: right;">$<%= "%0.2f" %((h.end - h.begin) * h.topic.rate / 360000.0) %></div>
		<% end %>
		<% 5.times do %>
			<div style="height: 1px; width: 100%; padding: 0; border: 0px solid black; border-top-width: 1px; border-bottom-width: 1px;"></div>
		<% end %>
		<strong>Total</strong>
		<div></div>
		<div><%= "%0.2f" %(@totals[topic][:time]) %> hours</div>
		<div>$<%= "%0.2f" %(@totals[topic][:rate] / 100.0) %></div>
		<div style="text-align: right;">$<%= "%0.2f" %@totals[topic][:money] %></div>
	<% end %>
</div>
