<!DOCTYPE html>
<html>
  <head>
    <title>Time Tracking</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
		<%= favicon_link_tag 'favicon.svg' %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
	<body class="bg-slate-100 flex w-screen h-screen justify-center items-center" data-controller="dalert">
		<div class="bg-white sm:rounded-md sm:h-max sm:w-initial max-w-screen sm:min-w-[26rem] px-12 p-8 shadow">
			<% if alert %>
				<div class="max-w-[24rem] flex items-center pl-6 p-4 rounded-md border-l-8 border-l-red-500 bg-red-200 border border-red-500 mb-2 text-red-800" data-dalert-target="alert">
					<div class="grow">
						<%= alert %>
					</div>
					<%= heroicon 'x-mark', options: { 'data-action' => 'click->dalert#close_alert', class: 'ml-2' } %>
				</div>
			<% end %>
			<% if notice %>
				<div class="max-w-[24rem] flex items-center pl-6 p-4 rounded-md border-l-8 border-l-green-500 bg-green-200 border border-green-500 mb-2" data-dalert-target="notice">
					<div class="grow">
						<%= notice %>
					</div>
					<%= heroicon 'x-mark', options: { 'data-action' => 'click->dalert#close_notice', class: 'ml-2' } %>
				</div>
			<% end %>
			<%= yield %>
		</div>
	</body>
</html>
